{% extends 'back/base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('front/reservation/_form.html.twig') }}

{% endblock %}
