{% extends 'back/base.html.twig' %}



{% block title %}Ajouter service{% endblock %}

{% block body %}
    <h1>Ajouter service</h1>

    {{ include('back/info_service/_form.html.twig') }}

    <a href="{{ path('info_service_admin') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>
{% endblock %}
