{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Modifier un document</h1>

    {{ include('back/documents/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('documents_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>

{% endblock %}
