{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Ajouter un evenement</h1>

    {{ include('back/medias/_form.html.twig') }}

    <a href="{{ path('medias_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>
{% endblock %}

