{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Ajouter un offre</h1>

    {{ include('back/offres/_form.html.twig') }}

    <a href="{{ path('offres_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>
{% endblock %}
