<!----------

<h1>Activation de votre compte</h1>
<p>Vous avez cree un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour confirmer votre email</p>
<p><a href="{{ absolute_url(path('app_verify_email', {'token': token})) }}">confirmer mon email</a></p>
---->

<!-------------------------------------------------------------------------->
<div style="margin:0;background:#ececee;color:#6c6c6c">
    <div style="text-align:center">
        <table style="border-spacing:0px;margin:0 auto;border:0 none;text-align:center;width:100px;border-collapse:collapse">
            <tbody><tr>
                <td style="vertical-align:top;background:#ececee;background-color:#ececee">

                    <table style="border-spacing:0px;margin:0 auto;border:0 none;text-align:center;width:600px;border-collapse:collapse">
                        <tbody><tr>
                            <td style="vertical-align:top">

                                <table style="border-spacing:0px;margin:0 auto;border:0 none;width:600px;border-collapse:collapse;background-color:#ffffff">
                                    <tbody><tr>
                                        <td colspan="3" style="vertical-align:top;line-height:1px;height:20px;background-color:#ffffff"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#ffffff"></td>
                                        <td style="vertical-align:top;text-align:center;background-color:#ffffff;width:540px">
                                            <a href="#m_-5092383052724718633_" style="text-decoration:none" data-mt-detrack-inspected="true">
                                                <img src="https://upload.wikimedia.org/wikipedia/ar/b/be/Nouveau_logo_CTN_Tunisie.png" >
                                            </a>
                                        </td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#ffffff"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="vertical-align:top;line-height:1px;height:20px;background-color:#ffffff"></td>
                                    </tr>
                                    </tbody></table>


                                <table style="border-spacing:0;width:600px;margin:0 auto;border:0 none;border-collapse:collapse;background-color:#ffffff">
                                    <tbody><tr>
                                        <td colspan="3" style="height:30px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px"></td>
                                        <td style="vertical-align:top">
                                            <h1 style="margin:0;font-family:'arial',arial,sans-serif;font-size:20px;font-weight:normal;color:#d81772">Confirmation Email</h1>
                                        </td>
                                        <td style="vertical-align:top;line-height:1px;width:30px"></td>
                                    </tr>
                                    </tbody></table>


                                <table style="border-spacing:0;width:600px;margin:0 auto;border:0 none;border-collapse:collapse;background-color:#ffffff">
                                    <tbody><tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px"></td>
                                        <td style="height:1px;vertical-align:top;line-height:1px">
                                            <p style="margin:0;border-bottom-width:1px;border-bottom-color:#dbe2e7;border-bottom-style:solid;font-size:1px;line-height:1px">&nbsp;</p>
                                        </td>
                                        <td style="vertical-align:top;line-height:1px;width:30px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="height:40px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top"></td>
                                        <td style="vertical-align:top;line-height:1.4;font-family:'arial',arial,sans-serif;font-size:14px;color:#544A6D">

                                            <span>Cher(e) {{ user.prenom }} {{ user.nom }}</span>

                                        </td>
                                        <td style="vertical-align:top"></td>
                                    </tr>


                                    <tr>
                                        <td style="vertical-align:top"></td>
                                        <td style="vertical-align:top;line-height:1.4;font-family:'arial',arial,sans-serif;font-size:14px;color:#544A6D">
                                            Vous vous êtes récemment inscrit sur notre site  en utilisant cet e-mail. Pour finaliser votre inscription, veuillez cliquer sur le lien suivant :        </td>
                                        <td style="vertical-align:top"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="height:30px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top"></td>
                                        <td style="vertical-align:top;line-height:1.4;font-family:'arial',arial,sans-serif;font-size:14px;color:#544A6D">
                                            <a href="{{ absolute_url(path('app_verify_email', {'token': token})) }}" style="text-decoration:none;border-left:30px solid #e20101;border-right:30px solid #e20101;border-top:10px solid #e20101;border-bottom:10px solid #e20101;font-family:'arial',arial,sans-serif;font-size:14px;color:#ffffff;white-space:nowrap;background:#e20101" target="_blank" ><span>Confirmer Registration</span></a>
                                        </td>
                                        <td style="vertical-align:top"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="height:30px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top"></td>
                                        <td style="vertical-align:top;line-height:1.4;font-family:'arial',arial,sans-serif;font-size:14px;color:#544A6D">
                                            Vous serez notifié par le service client lorsque votre compte sera activé. N'hésitez pas à nous contacter si vous avez d'autres questions.
                                        </td>
                                        <td style="vertical-align:top"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="height:25px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top"></td>
                                        <td style="vertical-align:top;line-height:1.4;font-family:'arial',arial,sans-serif;font-size:14px;color:#544A6D">
                                            Merci et meilleures salutations,
                                        </td>
                                        <td style="vertical-align:top"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="height:40px;vertical-align:top;line-height:1px"></td>
                                    </tr>
                                    </tbody></table>


                                <table style="border-spacing:0px;margin:0 auto;border:0 none;width:600px;border-collapse:collapse;background-color:#544A6D;color:#fff">
                                    <tbody><tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;width:540px;height:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;text-align:center;font-size:12px;width:540px;background-color:#544A6D;color:#fff">


                                            <a href="https://www.facebook.com/ctn.com.tn" >
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a href="https://www.linkedin.com/company/compagnie-tunisienne-de-navigation/mycompany/" >
                                                <i class="fab fa-linkedin"></i>
                                            </a>


                                        </td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;background-color:#544A6D;width:540px;height:25px;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;text-align:center;background-color:#544A6D;width:540px;color:#fff">

                                            <p style="margin:0;font-family:'arial',arial,sans-serif;font-size:11px;color:#fff">  Service client </p>

                                            <p style="margin:0;font-family:'arial',arial,sans-serif;font-size:11px;color:#fff;margin-top:8px">Contact: <a href="mailto:COTUNAV@CTN.COM.TN" style="text-decoration:underline;font-size:11px;color:#fff" target="_blank" data-mt-detrack-inspected="true"> eCustomer Support </a> &nbsp; Website: <a href="#" style="text-decoration:underline;font-size:11px;color:#fff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.cma-cgm.com&amp;source=gmail&amp;ust=1626691330170000&amp;usg=AFQjCNF07wfKt3WcwTpXznyKQkcMTpqUVQ" data-mt-detrack-inspected="true">www.ctn.com.tn</a></p>
                                        </td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;background-color:#544A6D;width:540px;height:25px;color:#fff"></td>
                                        <td style="vertical-align:top;line-height:1px;width:30px;background-color:#544A6D;color:#fff"></td>
                                    </tr>
                                    </tbody></table>


                            </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table><div class="yj6qo"></div><div class="adL">
        </div></div><div class="adL">
    </div></div>