{% extends 'front/base.html.twig' %}
{% block body %}

    <!--top page -->

    <div class="page-banner bg-banner1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-content">
                        <h1 style="color: #fffffc"> Merci pour votre inscription</h1>
                        <br>
                        <p style="color: #fffffc">Votre compte a été créé</p>
                        <p style="color: #fffffc">Vous serez notifié par le service client lorsque votre compte sera activé.</p>

                        </br>

                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="{{ path('home') }}">
                                <button type="submit" class="default-btn-one" >Revenir à la page d'acceuil</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- fin top page -->

    <!-- Formulaire d'inscription -->





    <!-- fin Formulaire d'inscriptio -->
{% endblock %}