{% if user is not null %}

    {% include 'front/nav2.html.twig' %}
{% else %}
    {% include  'front/base.html.twig' %}
{% endif %}
{% block body %}

<div class="page-banner bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

            </div>
        </div>
    </div>
</div>


    <div class="single-services-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="service-details-text">
                        <div class="service-image">
                            <img src="assets/img/services/piscine_carthage.jpg" alt="image">
                        </div>
                        <div class="service-image">
                            <img src="assets/img/services/resto_carthage.jpg" alt="image">
                        </div>
                    </div>
                </div>






    <div class="col-lg-4">
        <div class="service-sidebar">
            <h3 class="title">Équipements</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bx-wifi'></i>
                        WIFI
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-swim'></i>
                        PISCINE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-tv'></i>
                        TÉLÉVISION
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-coffee'></i>
                        CAFÉ
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-refresh'></i>
                        CLIMATISATION
                    </a>
                </li>


                <li>
                    <a href="#">
                        <i class='bx bx-wine'></i>
                        BARS
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-music'></i>
                        LOISIRS
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-save'></i>
                        COFFRE-FORT SÉCURISÉ
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bx-car'></i>
                        GARAGE POUR VÉHICULES
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-phone'></i>
                        SERVICE DE CHAMBRE
                    </a>
                </li>
                <li>
                    <a href="#">

                        ANIMAUX AUTORISÉS                    </a>
                </li>


                <li>
                    <a href="#">
                        <i class='bx bx-game'></i>
                        SALLE DE JEUX
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-handicap'></i>
                        CABINE POUR HANDICAPÉ
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-bath'></i>
                        JACUZZI
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-moon'></i>
                        MOSQUÉE
                    </a>
                </li>

            </ul>
        </div>
    </div>
    </div>
    </div>
    </div>







    {% include 'front/footer.html.twig' %}








{% endblock %}