{% if user is not null %}

    {% include 'front/nav2.html.twig' %}
{% else %}
    {% include  'front/base.html.twig' %}
{% endif %}

{% block title %}CTN-Historique {% endblock %}

{% block body %}
    <div class="page-banner bg-presentation">



        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-content">

                        <h2>Historique de la CTN</h2>
                        <ul>
                            <li><a href="index-2.html">CTN</a></li>
                            <li>Historique</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="blog-details-area bg-f9f9f9 ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details-desc">
                        <div class="article-image">
                            <img src="assets/img/ctnw.gif" alt="image">
                        </div>
                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <i class='bx bx-folder-open'></i>
                                        <span>Category</span>
                                        <a href="#">Transport</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-group'></i>
                                        <span>View</span>
                                        813,454
                                    </li>
                                    <li>
                                        <i class='bx bx-calendar'></i>
                                        <span>Last Updated</span>
                                        Jun 21, 2021
                                    </li>
                                </ul>
                            </div>
                            <h3>Sur la voûte des cieux notre histoire <br>est écrite.</h3>
                            <p>Ceux et celles qui ont plusieurs décennies à leur état civil savent que cette compagnie naquit le 7 mars 1959. Son ambition déclarée:
                                faire de sa flotte un outil efficace, capable d’appuyer le développement économique de la Tunisie..</p>
                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/cafe_4.jpg" alt="image">
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/unnamed.jpg" alt="image">
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/cafe_1.jpg" alt="image">
                                    </figure>
                                </li>
                            </ul>
                            <p>Premier objectif: mettre en place des lignes régulières entre la Tunisie et ses principaux partenaires commerciaux. Ainsi, à l’époque, les rotations s’organisaient essentiellement sur Marseille au sud et sur Rouen au Nord. Mais, sans tarder, les navettes s’étendaient pour toucher le Benelux et
                                l’Allemagne,ainsi que l’Italie et l’Espagne, à la faveur de la diversification du commerce extérieur tunisien. <br>
                                Au cours de la décennie 70, la CTN multiplia ses activités dans le cabotage pétrolier, le transport de pétrole brut, le transport de produits chimiques et alimentaires, le transport de passagers avec la mise en service en 1978 du car-ferry «Habib» entre Tunis, Marseille et Gênes. C’est ainsi qu’en plus des cargos de lignes, il y eut les vraquiers «Moularès» et «S’hib» construits en 1976-1977 et «El-Kef» datant de 1982.</p>
                            <blockquote class="wp-block-quote">
                                <p>Nous ne vivons pas seulement à notre époque. Nous portons toute notre histoire avec nous.</p>
                                <cite>Tom Cruise</cite>
                            </blockquote>
                            <p>Après avoir converti et rodé ses services méditerranéens à la technique roll-on-roll-off, la CTN s’attelle au renouvellement de sa flotte du «Nord». C’est ainsi qu’elle prend livraison en 1977 de «ElJem» et «Tozeur», puis en 1979 de «Bizerte» et «Kairouan».
                                Au cours de ces dernières années, contrainte comme tous les autres armements à se remettre en cause face à l’évolution générale du monde maritime, la CTN a progressivement vendu ses anciens navires, pour pouvoir se recentrer sur son activité essentielle, c’est-à-dire assurer un trafic de ligne. Ainsi, au fil des années qui passent, elle renouvelle complètement sa flotte méditerranéenne avec la mise en service de deux grands rouliers de 18.000 tonneaux de jauge brute. Il s’agit de «Ulysse» et «Salammbô 7 ». En juin 1999, le nouveau car-ferry «Carthage» est venu jeter l’ancre à La Goulette. Capable d’accueillir 2.208 passagers et 660 voitures, il a défrayé la chronique.</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="widget-area">

                        <div class="widget widget_posts_thumb">
                            <h3 class="widget-title">Dates marquantes de l'histoire</h3>
                            <div class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg1" role="img"></span>
                                </a>

                                <div class="info">
                                    <span> 1976-1977 </span>
                                    <h4 class="title usmall"><a href="#">Les vraquiers «Moularès», «El-Kef» et «S’hib»ont été construits  </a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg3" role="img"></span>
                                </a>

                                <div class="info">
                                    <span>1977</span>
                                    <h4 class="title usmall"><a href="#"> Prendre livraison de «ElJem» et «Tozeur»</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg2" role="img"></span>
                                </a>

                                <div class="info">
                                    <span>1979</span>
                                    <h4 class="title usmall"><a href="#"> Prendre livraison de «Bizerte» et «Kairouan»</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg2" role="img"></span>
                                </a>

                                <div class="info">
                                    <span>1978</span>
                                    <h4 class="title usmall"><a href="#">la mise en service du car-ferry «Habib» entre Tunis, Marseille et Gênes</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg2" role="img"></span>
                                </a>

                                <div class="info">
                                    <span>Juin, 1999</span>
                                    <h4 class="title usmall"><a href="#">Le nouveau car-ferry «Carthage» est venu jeter l’ancre à La Goulette</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
    </div>



    {% include 'front/footer.html.twig' %}
    </body>
{% endblock %}

