{% if user is not null %}

    {% include 'front/nav2.html.twig' %}
{% else %}
    {% include  'front/base.html.twig' %}
{% endif %}
{% block body %}

    <div class="page-banner bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>Infos pratiques</h2>
                    <ul>
                        <li><a href="{{ path('home') }}">Acceuil</a></li>
                        <li>infos pratiques</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="privacy-policy ptb-100">
        <div class="container">
            <div class="privacy-policy-text">

                <h2 align="justify">POUR ASSURER LA TRAVERSEE DANS LE CONFORT ET LA SECURITE:</h2>

            </div>
        </div>
    </div>

    <div class="about-info-area pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="about-info-card">
            <h3>Respecter les recommandations suivantes:</h3>


            <ul>
                {% for n in info  %}
                    <li align="justify">
                        {% if n.recommandations !=null %}
                            <i class='bx bx-check'></i>
                            {{ n.recommandations }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="about-info-card">
            <h3 >Le respect de ces recommandations est de nature à épargner :</h3>
            <ul>
                {% for n in info %}
                    <li align="justify">
                        {% if n.recoepargne !=null %}
                            <i class='bx bx-check'></i>
                            {{ n.recoepargne }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="about-info-card">
            <h3>NÉCESSAIRE DE VOYAGE:</h3>
            <ul>
                {% for n in info %}
                    <li align="justify">
                        {% if n.reconecessaire !=null %}
                            <i class='bx bx-check'></i>
                            {{  n.reconecessaire }}
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}
{% include 'front/footer.html.twig' %}