{% if user is not null %}

    {% include 'front/nav2.html.twig' %}
{% else %}
    {% include  'front/base.html.twig' %}
{% endif %}
{% block title %}CTN-Présentation {% endblock %}

{% block body %}
<!--assets/img/CTN-Tanit.jpg"-->
    <div class="page-banner bg-presentation">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-content">
                        <h2>Présentation</h2>
                        <ul>
                            <li><a href="index-2.html">CTN</a></li>
                            <li>Présentation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-text-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-safe-text">
                        <h2>COMPAGNIE TUNISIENNE DE NAVIGATION</h2>
                        <p>Depuis sa création en 1959. La CTN a mis en place plusieurs missions stratégiques qui lui ont permis au fils des années, l’édification d’un pavillon national
                            bénéficiant aujourd’hui d’une renommée et d’une notoriété internationale avec un capital de 126Md.
                        <br> La CTN est leader dans le domaine maritime de passagers et de véhicules sur les deux régulières reliant la Goulette aux deux ports de Gênes et de Marseille. Elle assure également le transport de marchandises (en remorques et en conteneurs) sur les lignes régulières reliant Rades à Marseille, Gênes, Livourne, Barcelone, Sagunto, Novorossiysk et Istanbul. La CTN garantie pareillement la navigation à la demande sans itinéraire fixe (tramping),
                            la consignation de navires ainsi que la représentation d’armateurs étrangers dans les ports tunisiens.</p>
                    </div>
                    <div class="shipping-card">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="safe-image">
                        <img src="assets/img/CTN-pres.png" alt="image">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="about-info-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about-info-card">
                        <h3>Des navires rouliers destinés aux transports de marchandises:</h3>
                        <ul>

                            <li>
                                <i class="bx bx-check"></i>
                                AMILCAR
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                ELYSSA
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Ulysse
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                SALAMMBO
                            </li>


                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="about-info-card">
                        <h3>Des car- ferries pour le transport de passagers et de véhicules:</h3>
                        <ul>
                            <li>
                                <i class="bx bx-check"></i>
                                Carthage
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Tanit
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="about-info-card">
                        <h3>Des délégations en Europe et un vaste réseau d’Agents généraux: </h3>
                        <ul>
                            <li>
                                <i class="bx bx-check"></i>
                                Des délégation en France (une à Paris et la seconde en port de Marseille)
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Des délégations au port de Gênes et une représentation à Frankfurt
                            </li>


                        </ul>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="digital-area ptb-100">
        <div class="container">
            <div class="digital-top-contant">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="digital-image">
                            <img src="assets/img/ctn2.gif" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digital-text">
                            <h2>Parmi les premières compagnies maritimes opérant en méditerranée</h2>
                            <p>La CTN possède son propre système de gestion de la sécurité et de la protection de l’environnement qui est
                                certifié conformément à la réglementation maritime internationale.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="digital-card-contant">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="digital-card">
                            <div class="card-text">
                                <i class="bx bx-cart-alt"></i>
                                <h3><span style="color: #f7941d">1959</span> - Lancement de la compagnie</h3>
                                <p>La Compagnie tunisienne de navigation  a été crée en 1959.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digital-card">
                            <div class="card-text">
                                <i class="bx bx-award"></i>
                                <h3><span style="color: #f7941d">2008</span> - ISM </h3>
                                <p>la CTN a obtenu la certification ISM (code international de la gestion de la sécurité).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digital-card">
                            <div class="card-text">
                                <i class="bx bx-award"></i>
                                <h3><span style="color: #f7941d">2004</span> - ISPS</h3>
                                <p> ISPS est une certification de haut calibre (le code international pour la sûreté des navires et des installations portuaires) que la CTN a bien réussi de l'obtenir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digital-card">
                            <div class="card-text">
                                <i class="bx bx-award"></i>
                                <h3><span style="color: #f7941d">2012</span> - ISO 9001</h3>
                                <p>Elle a obtenu l'ISO dans sa version 2008 et elle prépare le passage vers la version 2015.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-text-area ptb-100">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-safe-text">
                                <h2>Un intérêt  à la modernisation de nos systèmes d’information et de communication</h2>
                                <p>Enfin, dans le but de participer pleinement au développement du transport maritime tunisien et d’être un trait d’union entre les deux rives des la méditerranée, la CTN accorde un intérêt constant à la modernisation de ses systèmes d’information et de communication, vise à l’optimisation de ses coûts et instaure une gestion
                                    orientée vers la satisfaction de ses clients et de ses fournisseurs..</p>
                            </div>
                            <div class="shipping-card">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="safe-image">
                                <img src="assets/img/pres.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock  %}
{% include 'front/footer.html.twig' %}