{% include  'front/base.html.twig' %}


{% block body %}

    <!--top page -->

    <div class="page-banner bg-banner1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-content">
                        <h2> S'inscrire  </h2>
                        <ul>
                            <li><a href="{{ path('home') }}">Acceuil</a></li>
                            <li>Inscription</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- fin top page -->

    <!-- Formulaire d'inscription -->

        {{ include('front/users/_form.html.twig') }}



     <!-- fin Formulaire d'inscriptio -->
{% endblock %}
    {% include 'front/footer.html.twig' %}