
<h1>Activation compte</h1>
<img src="https://upload.wikimedia.org/wikipedia/ar/b/be/Nouveau_logo_CTN_Tunisie.png" >
<p>bonjour {{ user.nom }} {{ user.prenom }},</p>
<p> Votre compte est activé avec succés vous pouvez  <a href="{{ absolute_url(path('sign_in')) }}">s'authentifier</a> </p>
<p>  meilleures salutations,</p>

