<!DOCTYPE html>

<title>Edit Service</title>

{% block body %}
    <h1>Edit Service</h1>

    {{ include('back/service/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('info_service_admin') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>
{% endblock %}
