<!DOCTYPE html>

<title>New Quota</title>

{% block body %}
    <h1>Create new Quota</h1>

    {{ include('front/quota/_form.html.twig') }}

    <a href="{{ path('quota_index') }}">back to list</a>
{% endblock %}
