

{% extends 'back/base.html.twig' %}

{% block title %}Modifier Admin{% endblock %}

{% block body %}
    <h1>Modifier Admin</h1>

    {{ include('back/admins/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admins_index') }}" class="btn btn-default"><i class="fas fa-arrow-left"></i>Retour</a>



{% endblock %}

